#daemon configuration
telnet_port 4444
gdb_port 3332 

source [find interface/stlink-v2.cfg]

transport select hla_swd

set WORKAREASIZE 0x2000

source [find target/stm32f1x.cfg]


# reset_config parameter (see OpenOCD manual):
# none          --> srst and trst of MCU not connected to JTAG device
# srst_only     --> only srst of MCU connected to JTAG device
# trst_only     --> only trst of MCU connected to JTAG device
# srst_and_trst --> srst and trst of MCU connected to JTAG device
# default setting: "reset_config none" will produce a single reset via SYSRESETREQ (JTAG commands) at reset pin of MCU

reset_config none




