build/
auvir_model/build/
auvir_embed/build/
auvir_embed/toolchain/
*build/*
*bin
*obj
*Debug
*debug
*Release
*release
*.autosave
*~
*.lock
*.lock*
*.out
*.exe
*.obj
*.o
*.a
*.lib
!documents/
*.dll
*.bin
*.hex
*.elf
*.zip
*.tar
*.tar.gz
*.7z
CMakeLists.txt.user*
