build/
auvir_model/build/
auvir_embed/build/
auvir_embed/toolchain/
*build/*
*.bin
*.obj
*.lib
!**/documents/**
*Debug
*debug
*Release
*release
*.autosave
*~
*#*
*.el
*.lock
*.lock*
*.out
*.exe
*.obj
*.o
*.a
*.dll
*.bin
*.hex
*.elf
*.zip
*.tar
*.tar.gz
*.7z
CMakeLists.txt.user*
